<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Teatry</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<nav>
    <a th:href="@{/theatres-view}">🎭 Teatry</a>
    <a th:href="@{/movies-view}">🎬 Sztuki</a>
    <a th:href="@{/directors-view}">🎥 Reżyserzy</a>
</nav>

<h2 th:text="${title}">Teatry</h2>

<table>
    <thead>
    <tr>
        <th>Logo</th>
        <th>Nazwa</th>
        <th>Sztuki</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="t : ${theatres}">
        <td><img th:src="${t.logo}" alt="logo"/></td>
        <td th:text="${t.name}"></td>
        <td><a th:href="@{/movies-view(theatreId=${t.id})}">🔍</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>
